{% extends 'core/base.html' %}
{% block title %}Blog|Home{% endblock title  %}
{% block content %} 
<h1 style="text-align: center;"> Blog </h1>
<hr>

{% for blog in blogs %}

<div style="text-align: center;">
<h3>{{ blog.title }} </h3>
<p>{{ blog.content }}</p>
<small>{{blog.auther}}-{{blog.date}}</small>



<p>
{% if user.is_authenticated %}  
{% comment %} {% if blog.auther == request.username %} {% endcomment %}
<a href="{% url 'edit' id=blog.id %}" class="btn btn-outline-success">edit</a>
<a href="{% url 'delete' id=blog.id %}" class="btn btn-outline-danger">Delete</a>
{% comment %} {% endif %} {% endcomment %}

{% endif %}
</p>
</div>
<hr> 
{% endfor %}


<div style="text-align:center;">
{% if user.is_authenticated %} 
    <a href="{% url 'add' %}" class="btn btn-primary">ADD</a>
    {% if count > 1 %}
            <a href="{% url 'delete-all' %}" class="btn btn-danger">DELETE-ALL</a>
    {% else %}
        
    {% endif %}
{% endif %}

</div> 
{% endblock content %}