{% extends "core/base.html" %}
{% block title %} Blog|Log In {% endblock title %}
{% block content %}
<h1 style="text-align: center;">Log In</h1>

<form method="POST">
  {% csrf_token %}
    {% comment %} for username {% endcomment %}
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" id="username" name="username">
   
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock content %}